html, body{
    background-color: #E0E0FF;
    width: 1000px;
    height: 750px;
    padding: 0;
}
.sidebar{
    float: left;
    padding: 40px;
    text-align:center;
    width: 200x;
    height: 300px;
    position:fixed;
    background-color: #FFE0D1
}
.textbar{
	float: right
   padding:40px;
   text-align:right;
   height: 4000px;
}